body {background-color:black; font-family:arial; color: white}
h1{color:grey;
    font-family:verdana;
    text-align: center;
    
}
.maindiv {
    background-color:white;
    color:black;
    width:475px;
    border-radius:25px;
    margin:auto;
    padding: 20px; 
}

label
{
    display: table-column;
    float: left;
}
input{
    display: table-column;
    float:inherit;
    text-align: center;
    
}
#input{
    
margin-right:auto;
    margin-left:85px;
   
}
td{
    padding: 2.75px;
}
#output{
    margin-left: 85px;
   
  
}
#principal{
    text-align: left;
}
footer{
    margin-top:-12px
}
